
@font-face {
    font-family: bungeefont;
    src: url("../fonts/bungee.ttf");
 }
 *{
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    outline:none;
}

.card{
    border: 1px solid #B0B0B0;
    min-height: 200px;
    /* background: none; */
    /* border: none; */
}

.card-header{
    background:#e0e0e0;
    text-align: center;
    /* border-bottom: 1px solid white; */
}

.card-body{
    background-image: linear-gradient(90deg,#DFDFDF,#FFFFFF);
    /* color:white; */
}
.card-footer{
    text-align: center;
    background:#e0e0e0;
    /* border-top: 1px solid white; */
}

#head{
    font-family: bungeefont;
}

.navbar-nav{
    margin-left:20px;
}

.navbar-dark{
    background-image: linear-gradient(to right,black,darkgrey);
}

.row-header{
    margin: 0px auto;
    padding: 0px auto;
}

@media (min-width: 576px) { 
.row-content{
    margin: 0px auto;
    padding: 30px 0px 30px 0px;
    border-bottom: 1px ridge;
    }
}

@media (max-width: 576px) { 
    .row-content{
        margin: 0px auto;
        padding: 30px 0px 30px 0px;
        border-bottom: 1px ridge;
    }
}

.footer{
    background-color: #333333;
    margin: 0px auto;
    color:white;
    padding: 20px 0px 20px 0px;
}

.jumbotron{
    padding: 70px 20px 30px 20px;
    margin: 0px auto;
    background-image: linear-gradient(to right,black,white);
    color: floralwhite; 
}

address{
    user-select: text;
    -moz-user-select: text;
    -webkit-user-select: text;
    font-size: 90%;
    margin: 0px;
    color: #fff;
}